* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #222;
    color: whitesmoke;
}

a, button {
    color: whitesmoke;
    background: #1E9500;
    opacity: 0.9;
    text-decoration: none;
    text-align: center;
    width: 170px;
    height: 50px;
    padding: 12px 5px;
}

a:hover {
    opacity: 1;
}

nav {
    display: flex;
}
