@import "style-global.css";

body {
    margin-top: 5px;
}

h1 {
    margin: 20px 0;
}

nav {
    flex-direction: row-reverse;
}

.timer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navi-button {
    background: #222;
    border: solid 1px #222;
}

.navi-button:hover {
    background: #444;
}

.timer {
    font-size: 100px;
}

.pomodoro-settings {
    display: flex;
    flex-wrap: wrap;
}

.course-settings {
    display: flex;
    flex-wrap: wrap;
}

.courses-display {
    display: flex;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    width: 12.5%;
    background: #444;
}

.course:hover {
    background: #555;
}

.course-details {
    display: flex;
    background: #333;
    height: 20em;
    overflow-y: auto;
}

.progress-bar {
    background: whitesmoke;
    width: 88%;
    height: 2px;
    align-self: flex-start;
}

.history-block {
    display: flex;
}

.w3-input {
    width: 90%;
}
