@import "style-global.css";

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* We need our navbar to stretch so justify-content may come into effect */
nav {
    align-self: stretch;
    justify-content: space-evenly;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px 0 20px;
}

.features {
    display: flex;
}

.feature {
    display: flex;
    flex-direction: column;
}

.submits {
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}
